body {
	font-style: italic;
	font-family: verdana;
	font-weight: bold;
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    text-shadow:
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 30px #FFFFFF,
    0 0 40px #FF00DE,
    0 0 70px #FF00DE,
    0 0 80px #FF00DE,
    0 0 100px #FF00DE,
    0 0 150px #FF00DE;
}

h2 {
	font-size: 18pt;
	font-style: italic;
	font-family: verdana;
	font-weight: bold;
}
body {
	font-size: 10pt;
	background-color: black;
	color: #CCC;
}

#gamearea {
	position: absolute;
	width: 800px;
	height:600px;
	top: 90px;
	left: 50px;
	/*border: 2px solid #000;*/
}

#scoreCard {
	position: absolute;
	width: 300px;
	height: 180px;
	top: 90px;
	left: 860px;
	border: 1px solid gray;
}

#scoreCard td {
	width: 50px;
	padding: 2px;
	border: 1px dotted gray;
}

#messages {
	position: absolute;
	width: 300px;
	height: 400px;
	top: 290px;
	left: 860px;
	border: 1px solid gray;
	overflow: scroll;
}
#messages p {
	font-size: 12px;	
	margin: 2px;
	font-family: monospace;
} 

#fps {
	position: absolute;
	top: 700px;
	left: 1060px;
	color: blue;
	font-weight: bold;
	font-family: monospace;
}

#fps:before {
	content: "fps: ";
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	/*border: 1px solid white;*/
}